amqp
asgiref
psycopg2-binary
coinbase-commerce
billiard
click
click-didyoumean
django-bootstrap4
click-plugins
python-dotenv
cloudinary
click-repl
datetime-truncate
gunicorn
Django==3.2
django-admin-interface
django-adminstats
django-chartjs
django-colorfield
django-crispy-forms
django-flat-responsive
django-flat-theme
django-mathfilters
django-multiselectfield
django-nvd3
django-social-share
djcacheutils
future
Jinja2
jsonfield
kombu
MarkupSafe
Pillow==9.1.1
prompt-toolkit
python-dateutil
python-memcached
python-nvd3
python-slugify
pytz
six
sqlparse
Unidecode
vine
wcwidth
