{% extends 'base0.html' %}
{% load static %}
{% load cart %}
{% load custom_filter %}
{% block body %}
<!-- breadcrumb area start -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/store">Home</a></li>

                                    <li class="breadcrumb-item active" aria-current="page">Bad request</li>
                                  
                                   
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 <!-- hero slider start -->
        <div class="hero-slider-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider-wrapper-area2 mt-30">
                            <div class="hero-slider-active hero__2 slick-dot-style hero-dot">
                                <div class="single-slider d-flex align-items-center" style="background-image: url('/static/assets/img/slider/error.png');">
                                    <div class="container">
                                        <div class="slider-main-content">
                                            <div class="slider-text text-center">
                                                <h2>Oooops</h2>
                                                <h3>Bad request</h3>
                                                <p>Oops 400 error page,the request made is incorrect or corrupt, we will see to it and handle this immediately </p>
                                                <a class="home-btn" href="/store">Back to Store</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- hero slider end -->
{% endblock %}