

{% extends 'base.html' %}

{% block title %}Change Password Page{% endblock title %}

{% load static %}

{% load crispy_forms_tags %}
{% block body %}

<!-- Register Content Start -->
                        <div class="col-lg-6">
                            <div class="login-reg-form-wrap mt-md-34 mt-sm-34">
                                <h2>Password Reset Successfully</h2>
                                <p class="saved-message">
                                	Your New Password was reset succefully<br>
                                	Kindly login to continue Exploring out<br>
                                	Stores <a href="" class="fa fa-lo"></a>
                                </p>
                            </div>
                        </div>
                        <!-- Register Content End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- login register wrapper end -->
{% endblock body %}