{% extends 'base.html' %}

{% block title %}Change Password Page{% endblock title %}

{% load static %}

{% load crispy_forms_tags %}
{% block body %}

<!-- Register Content Start -->
                        <div class="col-lg-6">
                            <div class="login-reg-form-wrap mt-md-34 mt-sm-34">
                                <h2> Enter Email(Email your Registered with)</h2>
                                <p>We will sent you a confirmation link you use to <br>change your password</p>
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <div class="single-input-item">
                                        <button class="sqr-btn" type="submit" >Send Email</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Register Content End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- login register wrapper end -->
{% endblock body %}