{% extends 'base.html' %}

{% block body %}
{% load static %}
{% load cart %}
{% load custom_filter %}

        <!-- breadcrumb area start -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/homepage">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Store</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb area end -->

        <!-- page wrapper start -->
        <div class="page-main-wrapper">
            <div class="container">
                <div class="row">
                    <!-- product main wrap start -->
                    <div class="col-12">
                        <div class="shop-banner img-full">
                            <img src="{% static 'assets/img/banner/banner_static1.jpg' %}" alt="">
                        </div>
                        <!-- product view wrapper area start -->
                        <div class="shop-product-wrapper pt-34">
                            <!-- shop product top wrap start -->
                            <div class="shop-top-bar">
                                <div class="row">
                                    <div class="col-lg-7 col-md-6">
                                        <div class="top-bar-left">
                            {% if product_list %}
                                            <div class="product-view-mode mr-70 mr-sm-0">
                                                <a class="active" href="#" data-target="grid"><i class="fa fa-th"></i></a>
                                                <a href="#" data-target="list"><i class="fa fa-list"></i></a>
                                            </div>
                             {% endif %}
                                            <div class="product-amount">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6">
                                        <div class="top-bar-right">
                                            <div class="product-short">
                                                <p>Become a Vendor ,Join and : </p>
                                                <a href="/become_vendor1" class="check-btn sqr-btn " >Sell Here  <i class="fa fa-user"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- shop product top wrap start -->
                            <!-- product item start -->
                            <div class="shop-product-wrap grid row">
                            {% if product_list %}

                                    <!-- product single grid item start -->
                                    {% for product in product_list %}

                            <!-- product item start -->
                            
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <!-- product single grid item start -->
                                    <div class="product-item fix mb-30">
                                        <div class="product-thumb">
                                            <a href="{% url 'details' product.id %}">
                                                    <img src="{{product.image.url}}"  class="img-pri" alt="">
                                            </a>
                                        {% if product.discount == True %}
                                            <div class="product-label-discount" style="border-radius: 50%; color: purple;">
                                                <span>{{ product.discount_percentage}}% OFF</span>
                                            </div>
                                        {% else  %}
                                            {% if product.is_new_arrival == True %}
                                            <div class="product-label">
                                                <span>New Stock</span>
                                            </div>
                                            
                                            {% elif product.is_featured == True %}
                                            <div class="product-label-featured">
                                                <span>Featured</span>
                                            </div>
                                            
                                            {% elif product.is_top_rated == True %}
                                            <div class="product-label-top_rated">
                                                <span>Top Rated</span>
                                            </div>
                                            
                                            {% elif product.is_best_selling == True %}
                                            <div class="product-label-most_sold">
                                                <span>Most Sold</span>
                                            </div>
                                            
                                            {% elif product.is_most_viewed == True %}
                                            <div class="product-label-most_seen">
                                                <span>Most Seen</span>
                                            </div>
                                            
                                            {% elif product.is_new_product == True %}
                                            <div class="product-label-new_product">
                                                <span>Just Added</span>
                                            </div>
                                            {% elif product.is_hot_sale == True %}
                                            <div class="product-label-hot_sale">
                                                <span>Hot Sale</span>
                                            </div>
                                            {% else  %}
                                            <div class="product-label-black_sale">
                                                <span>Black Sale</span>
                                            </div>
                                            {% endif %}    
                                        {% endif %}
                                            <div class="product-action-link">
                                                <a href="{% url 'details' product.id %}" > <span data-toggle="tooltip" data-placement="left" title="Quick view"><i class="fa fa-search"></i></span> </a>
                                               <form action="/#" method="POST" class="buy-btn">
                            {% csrf_token %}
                            <input hidden type="text" name='product' value='{{product.id}}' >
                        <input type="submit"  data-toggle="tooltip" class="btn btn-primary" data-placement="top" value="Add to Cart" title="Add to cart"></form> 
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h4><a href="{% url 'details' product.id %}">{{ product.name }}</a></h4>
                                            <div class="pricebox">
                                                <span class="regular-price">{{ product.price }}/=</span>
                                                
                                                <div class="ratings">
                                                    <span class="good"><i class="fa fa-shopping-cart"></i></span>
                                                    <span class="good"><i class="fa fa-shopping-cart"></i></span>
                                                    <span class="good"><i class="fa fa-shopping-cart"></i></span>
                                                    <span class="good"><i class="fa fa-shopping-cart"></i></span>
                                                    <span><i class="fa fa-shopping-cart"></i></span>
                                                    <div class="pro-review">
                                                        <span>Pearl-Mart</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          
                              <!-- product single grid item end -->
                                    {% endfor %}
                                    {% for product in product_list %}

                                    <!-- product single list item start -->
                                <div class="container">
                                    <div class="product-list-item mb-30">
                                        <div class="product-thumb">
                                            <a href="{% url 'details' product.id %}">
                                                <img src="{{product.image.url}}"  id="img1"  style="visibility: visible;" alt="">
                                            </a>
                                        {% if product.discount == True %}
                                            <div class="" style="top: 0;left: 0;position: absolute;width: 100px;height: 50px;font-size: 14px;color: #ffffff;font-weight: 600;text-align:center;line-height: 50px;display: block;background-color:#C70039;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 10%;text-transform: uppercase;
">
                                                <span>{{ product.discount_percentage}}% OFF</span>
                                            </div>
                                        {% else  %}
                                            {% if product.is_new_arrival == True %}
                                            <div class="" style="top: 0;left: 0;position: absolute;width: 100px;height: 50px;font-size: 14px;color: #ffffff;font-weight: 600;text-align:center;line-height: 50px;display: block;background-color:#f19409;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 10%;text-transform: uppercase;
">
                                                <span>New Stock</span>
                                            </div>
                                            
                                            {% elif product.is_featured == True %}
                                            <div class="" style="top: 0;left: 0;position: absolute;width: 100px;height: 50px;font-size: 14px;color: #ffffff;font-weight: 600;text-align:center;line-height: 50px;display: block;background-color:#FF5733;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 10%;text-transform: uppercase;
">
                                                <span>Featured</span>
                                            </div>
                                            
                                            {% elif product.is_top_rated == True %}
                                            <div class="" style="top: 0;left: 0;position: absolute;width: 100px;height: 50px;font-size: 14px;color: #ffffff;font-weight: 600;text-align:center;line-height: 50px;display: block;background-color:#FFC300;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 10%;text-transform: uppercase;
">
                                                <span>Top Rated</span>
                                            </div>
                                            
                                            {% elif product.is_best_selling == True %}
                                            <div class="" style="top: 0;left: 0;position: absolute;width: 100px;height: 50px;font-size: 14px;color: #ffffff;font-weight: 600;text-align:center;line-height: 50px;display: block;background-color:#900C3F;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 10%;text-transform: uppercase;
">
                                                <span>Most Sold</span>
                                            </div>
                                            
                                            {% elif product.is_most_viewed == True %}
                                            <div class="" style="top: 0;left: 0;position: absolute;width: 100px;height: 50px;font-size: 14px;color: #ffffff;font-weight: 600;text-align:center;line-height: 50px;display: block;background-color:#581845;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 10%;text-transform: uppercase;
">
                                                <span>Most Seen</span>
                                            </div>
                                            
                                            {% elif product.is_new_product == True %}
                                            <div class="" style="top: 0;left: 0;position: absolute;width: 100px;height: 50px;font-size: 14px;color: #ffffff;font-weight: 600;text-align:center;line-height: 50px;display: block;background-color:#e409f1;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 10%;text-transform: uppercase;
">
                                                <span>Just Added</span>
                                            </div>
                                            {% elif product.is_hot_sale == True %}
                                            <div class="" style="top: 0;left: 0;position: absolute;width: 100px;height: 50px;font-size: 14px;color: #ffffff;font-weight: 600;text-align:center;line-height: 50px;display: block;background-color:#3b084f;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 10%;text-transform: uppercase;
">
                                                <span>Hot Sale</span>
                                            </div>
                                            {% else  %}
                                            <div class="" style="top: 0;left: 0;position: absolute;width: 100px;height: 50px;font-size: 14px;color: #ffffff;font-weight: 600;text-align:center;line-height: 50px;display: block;background-color:#f19409;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 10%;text-transform: uppercase;
">
                                                <span>Black Sale</span>
                                            </div>
                                            {% endif %}    
                                        {% endif %}
                                        </div>
                                        <div class="product-list-content">
                                            <h3><a href="{% url 'details' product.id %}">{{ product.name }}</a></h3>
                                            <div class="ratings">
                                                <span class="good"><i class="fa fa-shopping-cart"></i></span>
                                                <span class="good"><i class="fa fa-shopping-cart"></i></span>
                                                <span class="good"><i class="fa fa-shopping-cart"></i></span>
                                                <span class="good"><i class="fa fa-shopping-cart"></i></span>
                                                <span><i class="fa fa-shopping-cart"></i></span>
                                                <div class="pro-review">
                                                    <span>Pearl-Mart</span>
                                                </div>
                                            </div>
                                            <div class="pricebox">
                                                <span class="regular-price">{{ product.price }}/=</span>
                                                
                                            </div>
                                            <p>{{ product.description|truncatewords:40 }}.</p>
                                            <a href="{% url 'details' product.id %}">read more <i class="fa fa-long-arrow-right"></i></a>
                                            <div class="product-list-action-link">       
                                                <a href="{% url 'details' product.id %}" > <span data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search"></i>
                                                </span></a>
                                                <p> 
                                                    <form action="/#" method="POST" class="buy-btn">
                                                        {% csrf_token %}
                                                        <input hidden type="text" name='product' value='{{product.id}}' >
                                                        <input type="submit"  data-toggle="tooltip" class="btn btn-primary" data-placement="top" value="Add to Cart" title="Add to cart">
                                                    </form> 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                     {% endfor %}
                                    <!-- product single list item start -->
                                 <!-- product single column end -->
                          </div>
                        </div>
                                    
                            {% else %}
                            <div class="container">
                                <div class="shop-product-wrap grid row">
                                    <p class="saved-message">The Item you searched for is not in our stock
                                        ,Sorry for the Inconvenience.
                                        Check out Other Products, Go to Main Store <a href="/store"> Store</a>
                                    </p>
                               </div>
                            </div>
                            {% endif %}

                            <!-- product item end -->
                       
                        <!-- product view wrapper area end -->
                       
                        <!-- start pagination area -->
                        <div class="paginatoin-area text-center pt-28">
                            <div class="row">
                                <div class="col-12">
                                    <ul class="pagination-box">
                                        {% if is_paginated %}
                                        {% if product_list.has_previous %}
                                        <li><a class="Previous" href="?page=1">First</a></li>
                                        <li><a class="Previous" href="?page={{ product_list.previous_page_number }}">Previous</a></li>
                                        {% endif %}
                                        {% for num in product_list.paginator.page_range %}
                                          {% if product_list.number == num %}
                                        <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                                        {% elif num > product_list.number|add:'-3' and num < product_list.number|add:'3' %}
                                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                          {% if product_list.has_next %}
                                        <li><a class="Next" href="?page={{ product_list.next_page_number }}">Next</a></li>
                                        <li><a href="?page={{product_list.paginator.num_pages }}"> Last </a></li>
                                        {% endif %}
                                        {% endif %}
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end pagination area -->
                        <!-- start pagination area -->
                        <div class="paginatoin-area text-center pt-28">
                            <div class="row">
                                <div class="col-12">
                                    <ul class="pagination-box">
                                        <li><a class="Previous" href="#">Previous</a></li>
                                         <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a class="Next" href="#"> Next </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end pagination area -->

                    </div>

                    <!-- product main wrap end -->
                </div>
            </div>
        </div>
        <!-- page wrapper end -->

{% endblock %}