{% extends 'base.html' %}


{% block body %}
{% load cart %}
{% load custom_filter %}
<div class="container">
   <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4 ml-4">Your Orders</p>
        <hr>
        <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Code</th>
                    <th>Cancel Order</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                
                {% for order in orders %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="rounded-circle" src="{{order.product.image.url}}" alt=""></td>
                    <td>{{order.product.name}}</td>
                    <td>{{order.date}}</td>
                    <td>{{order.price}}/=</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.quantity|multiply:order.price}}/=</td>
                    <td>{{order.ordering_code}}</td>
                    <td><a href="/?order={{order.id}}" class="btn btn-primary my-2 my-sm-0"><i class="glyphicon glyphicon-trash">Delete</i></a></td>
                    {% if order.status %}
                    <td><small class="btn btn-danger">Completed</small></td>
                    {%else%}
                    <td><small class="btn btn-primary">Pending</small></td>
                    {% endif %}
                </tr>

                {% endfor %}
               
            </tbody>

        </table>
       
   </div>
</div>





{% endblock %}